:root {
  --ifm-color-primary: #333;
  --ifm-color-primary-dark: #2a2a2a;
  --ifm-color-primary-darker: #222;
  --ifm-color-primary-darkest: #113;
  --ifm-color-primary-light: #555;
  --ifm-color-primary-lighter: #777;
  --ifm-color-primary-lightest: #999;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #ccc;
  --ifm-color-primary-dark: #bbb;
  --ifm-color-primary-darker: #aaa;
  --ifm-color-primary-darkest: #888;
  --ifm-color-primary-light: #ddd;
  --ifm-color-primary-lighter: #eee;
  --ifm-color-primary-lightest: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
  --ifm-background-color: #111;
  --ifm-background-surface-color: #1a1a1a;
}

.hero__title {
  font-size: 3.5rem;
}
